[submodule "GlobalHook"]
	path = GlobalHook
	url = https://github.com/Lunat1q/GlobalHook
[submodule "TiqUtils"]
	path = TiqUtils
	url = https://github.com/Lunat1q/TiqUtils
[submodule "TiqUtils.Wpf"]
	path = TiqUtils.Wpf
	url = https://github.com/Lunat1q/TiqUtils.Wpf
